body{
  padding-bottom: 4rem;
}

h1 {
  padding: 1rem;
}

p {
  padding: 0 1rem 0 1rem;
}

.info {
  font-size: large;
  animation: color-change 5s infinite;
}
@keyframes color-change {
  0% {
    color: var(--bs-danger);
  }
  50% {
    color: var(--bs-light);
  }
  100% {
    color: var(--bs-danger);
  }
}

td {
  vertical-align: middle;
}

input {
  height: 2rem;
  font-weight: bolder;
}

input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
}

input[type="number"] {
  text-align: right;
  width: 100%;
}

.value, #sumValue{
  text-align: right;
}

img {
  width: 2rem;
}

#footer {
  font-weight: 800;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 3rem;
  border-width: 0.125rem;
  border-style: solid;
}

#footer tr{
  width: 100%;
}

#footer tr td{
  min-width: 2rem;
  padding: 0.5rem 0.5rem;
}

#sumValue{
  font-weight: 800;
}

#copyright{
  width: 100%;
  font-size: smaller;
  text-align: center;
}