---
import Layout from "../layouts/Layout.astro";
import Table from "../components/Table.svelte";
---

<Layout title="GW2 MagicFind Checklist">
	<main>
		<h1 class="text-2xl text-center p-4 font-bold m-auto">
			Guild&nbsp;Wars&nbsp;2 MagicFind&nbsp;Checklist
		</h1>
		<Table client:only="svelte" />
	</main>
</Layout>

<style></style>
