html {
    color-scheme: dark;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

body,
p {
    margin: 0;
}

#root {
    margin: auto;
    padding: 0;
    max-width: 1200px;
}

h1 {
    margin: 1rem;
    font-size: x-large;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

thead {
    border: 1px solid rgb(64, 64, 64, 1);
    border-left: 0;
    border-right: 0;
}

th {
    padding: 0.5rem;
    text-align: left;
}

tbody tr,
thead tr {
    border: 1px solid rgb(64, 64, 64, 1);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

td {
    padding: 0.5rem;
}

tfoot {
    position: sticky;
    font-weight: 800;
    background-color: rgb(24, 24, 24, 1);
    bottom: 0;
    height: 4rem;
    outline: 0.25rem solid;
    outline-offset: -0.25rem;
    outline-color: rgb(42, 42, 42, 1);
    box-shadow: 0 -1rem 2rem rgb(42, 42, 42, 1);
}

input {
    height: 2rem;
    font-weight: bolder;
}

input[type="checkbox"] {
    height: 2rem;
    width: 2rem;
}

input[type="number"] {
    text-align: right;
    width: 100%;
    font-size: medium;
}

.category {
    background: rgb(255, 255, 255, 0.05);
    padding: 0.5rem 1rem;
}

.value,
#sumValue {
    text-align: right;
}

img {
    width: 2rem;
}

#copyright {
    font-weight: 100;
    text-align: center;
    font-size: smaller;
    color: rgb(255, 255, 255, 0.75);
}

.red{
    color: red;
}

.green{
    color: green;
}